<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title> </title>
</head>
<body>
<div th:include="include/admin/adminHeader::html('编辑数据')"></div>
<div th:include="include/admin/adminNavigator::html"></div>
<script src="assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/vendor/popper.min.js" type="text/javascript"></script>
<script src="assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/functions.js" type="text/javascript"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- 官网提供的 axios 在线地址 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    $(function () {
        const data4Vue = {
            uri: 'temp_products',
            listURL: 'admin_temp_product_list',
            bean: {
                id: 0,
                method: null,
                name: null,
                systemType: null,
                dataType: null,
                sizeX: null,
                sizeY: null,
                sizeZ: null,
                strainX: null,
                strainY: null,
                nx: null,
                ny: null,
                elecX: null,
                elecY: null,
                elecZ: null,
                xy_Fig: null,
                xz_Fig: null,
                xyz_Fig: null,
                data_Fig: null,
                data_File: null
            },
        };

        //ViewModel
        const vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get: function () {
                    const id = getUrlParams("id");
                    const url = this.uri + "/" + id;
                    axios.get(url).then(function (response) {
                        vue.bean = response.data;
                    })
                },
                update: function () {
                    const url = this.uri + "/" + this.bean.id;
                    const formData = new FormData();
                    for (let key in this.bean) {
                        if (key === "id") continue;
                        if (this.bean[key] == null || this.bean[key] === "") continue;
                        formData.append(key, this.bean[key]);
                    }
                    axios.post(url, formData).then(function (response) {
                        location.href = vue.listURL;
                    });
                },
            }
        });
    });
</script>

<div id="workingArea">

    <ol class="breadcrumb">
        <li><a href="admin_temp_product_list">所有数据</a></li>
        <li class="active">编辑数据</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑分类</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>Method:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.method" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.name" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>SystemType:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.systemType" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>DataType:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.dataType" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>SizeX:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.sizeX" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>SizeY:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.sizeY" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>SizeZ:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.sizeZ" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>StrainX:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.strainX" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>StrainY:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.strainY" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>NX:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.nx" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>NY:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.ny" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>ElecX:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.elecX" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>ElecY:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.elecY" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>ElecZ:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.elecZ" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>XY_Fig:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.xy_Fig" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>XZ_Fig:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.xz_Fig" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>XYZ_Fig:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.xyz_Fig" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>Data_Fig:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.data_Fig" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>Data_File:</td>
                    <td><label>
                        <input @keyup.enter="update" v-model.trim="bean.data_File" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id" v-model.trim="bean.id">
                        <a href="#nowhere" class="btn btn-success" @click="update">提 交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:include="include/admin/adminFooter::html"></div>
</body>
</html>