<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<head><title> </title></head>
<body>
<div th:include="include/admin/adminHeader::html('数据管理')"></div>
<div th:include="include/admin/adminNavigator::html"></div>
<script src="assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/vendor/popper.min.js" type="text/javascript"></script>
<script src="assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/functions.js" type="text/javascript"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- 官网提供的 axios 在线地址 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    $(function () {
        const data4Vue = {
            uri: 'non_standard_products',
            pagination: {},
            bean: {
                id: 0,
                method: null,
                name: null,
                systemType: null,
                dataType: null,
                sizeX: null,
                sizeY: null,
                sizeZ: null,
                strainX: null,
                strainY: null,
                nx: null,
                ny: null,
                elecX: null,
                elecY: null,
                elecZ: null,
                xy_Fig: null,
                xz_Fig: null,
                xyz_Fig: null,
                data_Fig: null,
                data_File: null
            },
            beans: []
        };

        //ViewModel
        const vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },
            methods: {
                list: function (start) {
                    const url = this.uri + "?start=" + start;
                    axios.get(url).then(function (response) {
                        vue.pagination = response.data;
                        vue.beans = response.data.content;
                    });
                },
                //添加数据
                add: function () {
                    if (!checkEmpty(this.bean.name, "数据名称"))
                        return;
                    const formData = new FormData();
                    for (let key in this.bean) {
                        if (key === "id") continue;
                        if (this.bean[key] == null || this.bean[key] === "") continue;
                        formData.append(key, this.bean[key]);
                    }
                    axios.post("add_non_standard_products", formData).then(function (response) {
                        vue.bean = {
                            id: 0,
                            method: null,
                            name: null,
                            systemType: null,
                            dataType: null,
                            sizeX: null,
                            sizeY: null,
                            sizeZ: null,
                            strainX: null,
                            strainY: null,
                            nx: null,
                            ny: null,
                            elecX: null,
                            elecY: null,
                            elecZ: null,
                            xy_Fig: null,
                            xz_Fig: null,
                            xyz_Fig: null,
                            data_Fig: null,
                            data_File: null
                        };
                        vue.list(0);
                    });
                },
                //删除数据
                deleteBean: function (id) {
                    if (!checkDeleteLink())
                        return;
                    const url = this.uri + "/" + id;
                    axios.delete(url).then(function (response) {
                        if (0 !== response.data.length) {
                            alert(response.data);
                        } else {
                            vue.list(0);
                        }
                    });
                },
                jump: function (page) {
                    jump(page, vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function (start) {
                    jumpByNumber(start, vue);
                }
            }
        });
    });

</script>
<div id="workingArea">
    <h1 class="label label-info">数据管理</h1>
    <br>
    <br>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>Method</th>
                <th>Name</th>
                <th>SystemType</th>
                <th>DataType</th>
                <th>SizeX</th>
                <th>SizeY</th>
                <th>SizeZ</th>
                <th>StrainX</th>
                <th>StrainY</th>
                <th>NX</th>
                <th>NY</th>
                <th>ElecX</th>
                <th>ElecY</th>
                <th>ElecZ</th>
                <th>图片</th>
                <th>文件</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>
                    {{bean.method}}
                </td>
                <td>
                    {{bean.name}}
                </td>
                <td>
                    {{bean.systemType}}
                </td>
                <td>
                    {{bean.dataType}}
                </td>
                <td>
                    {{bean.sizeX}}
                </td>
                <td>
                    {{bean.sizeY}}
                </td>
                <td>
                    {{bean.sizeZ}}
                </td>
                <td>
                    {{bean.strainX}}
                </td>
                <td>
                    {{bean.strainY}}
                </td>
                <td>
                    {{bean.nx}}
                </td>
                <td>
                    {{bean.ny}}
                </td>
                <td>
                    {{bean.elecX}}
                </td>
                <td>
                    {{bean.elecY}}
                </td>
                <td>
                    {{bean.elecZ}}
                </td>
                <!--  TODO  -->
                <td>

                </td>
                <td>
                    {{bean.data_File}}
                </td>
                <td>
                    <a :href="'admin_non_standard_product_edit?id='+ bean.id"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="#nowhere" @click="deleteBean(bean.id)"><span
                            class="   glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:include="include/admin/adminPage::html"></div>
    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增数据</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>Method:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.method" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.name" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>SystemType:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.systemType" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>DataType:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.dataType" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>SizeX:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.sizeX" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>SizeY:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.sizeY" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>SizeZ:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.sizeZ" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>StrainX:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.strainX" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>StrainY:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.strainY" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>NX:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.nx" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>NY:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.ny" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>ElecX:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.elecX" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>ElecY:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.elecY" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>ElecZ:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.elecZ" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>XY_Fig:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.xy_Fig" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>XZ_Fig:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.xz_Fig" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>XYZ_Fig:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.xyz_Fig" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>data_Fig:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.data_Fig" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr>
                    <td>data_File:</td>
                    <td><label>
                        <input @keyup.enter="add" v-model.trim="bean.data_File" type="text" class="form-control">
                    </label></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere" @click="add" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:include="include/admin/adminFooter::html"></div>
</body>
</html>