<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:include="include/admin/adminHeader::html('数据管理')"></head>
<body>
<div th:replace="include/admin/adminNavigator::html"></div>
<script>
    $(function () {
        var data4Vue = {
            uri: 'products',
            pagination: {},
            bean: {
                id: 0,
                name: '',
                dataType: '',
                sizeX: '',
                sizeY: '',
                sizeZ: '',
                strainX: '',
                strainY: '',
                nX: '',
                nY: '',
                elecX: '',
                elecY: '',
                elecZ: '',
                xY_Fig: '',
                xZ_Fig: '',
                xYZ_Fig: '',
                data_File: ''
            },
            beans: [],
            //Imagfile: null,
            // file:null,
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },
            methods: {
                list: function (start) {
                    var url = this.uri + "?start=" + start;
                    console.log(url);
                    axios.get(url).then(function (response) {
                        vue.pagination = response.data;
                        vue.beans = response.data.content;
                        console.log(vue.beans);
                    });
                },
                //添加数据
                add: function () {
                    if (!checkEmpty(this.bean.name, "数据名称"))
                        return;
                    //TODO 禁止添加重复数据

                    //axios.js 上传文件要用 formData 这种方式
                    var formData = new FormData();
                    // bean: {id: 0, name: '', dateType:'', sizeX: '', sizeY: '', sizeZ: '', strainX:'', strainY:'',
                    // nX:'', nY:'',elecX:'', elecY:'', elecZ:''}
                    formData.append("name", this.bean.name);
                    formData.append("dataType", this.bean.dataType);
                    formData.append("sizeX", this.bean.sizeX);
                    formData.append("sizeY", this.bean.sizeY);
                    formData.append("sizeZ", this.bean.sizeZ);
                    formData.append("strainX", this.bean.strainX);
                    formData.append("strainY", this.bean.strainY);
                    formData.append("nX", this.bean.nX);
                    formData.append("nY", this.bean.nY);
                    formData.append("elecX", this.bean.elecX);
                    formData.append("elecY", this.bean.elecY);
                    formData.append("elecZ", this.bean.elecZ);
                    formData.append("xY_Fig", this.bean.xY_Fig);
                    formData.append("xZ_Fig", this.bean.xZ_Fig);
                    formData.append("xYZ_Fig", this.bean.xYZ_Fig);
                    formData.append("data_File", this.bean.data_File);
                    axios.post("add_products", formData).then(function (response) {
                        vue.list(0);
                        vue.bean = {
                            id: 0,
                            name: '',
                            dateType: '',
                            sizeX: '',
                            sizeY: '',
                            sizeZ: '',
                            strainX: '',
                            strainY: '',
                            nX: '',
                            nY: '',
                            elecX: '',
                            elecY: '',
                            elecZ: ''
                        };
                        // $("#categoryPic").val('');
                        // vue.file = null;
                    });
                },
                //删除数据
                deleteBean: function (id) {
                    if (!checkDeleteLink())
                        return;
                    var url = this.uri + "/" + id;
                    axios.delete(url).then(function (response) {
                        if (0 != response.data.length) {
                            alert(response.data);
                        } else {
                            vue.list(0);
                        }
                    });
                },
                jump: function (page) {
                    jump(page, vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function (start) {
                    jumpByNumber(start, vue);
                }
            }
        });
    });

</script>
<div id="workingArea">
    <h1 class="label label-info">数据管理</h1>
    <br>
    <br>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>名字</th>
                <th>DataType</th>
                <th>SizeX</th>
                <th>SizeY</th>
                <th>SizeZ</th>
                <th>StrainX</th>
                <th>StrainY</th>
                <th>NX</th>
                <th>NY</th>
                <th>ElecX</th>
                <th>ElecY</th>
                <th>ElecZ</th>
                <th>图片</th>
                <th>文件</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <!--              bean: {id: 0, dateType:'', name: '', sizeX: '', sizeY: '', sizeZ: '',
            strainX:'', strainY:'', nX:'', nY:'', elecX:'', elecY:'', elecZ:''} -->
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>
                    {{bean.name}}
                </td>
                <td>
                    {{bean.dataType}}

                </td>
                <td>
                    {{bean.sizeX}}
                </td>
                <td>
                    {{bean.sizeY}}
                </td>
                <td>
                    {{bean.sizeZ}}
                </td>
                <td>
                    {{bean.strainX}}
                </td>
                <td>
                    {{bean.strainY}}
                </td>
                <td>
                    {{bean.nx}}
                </td>
                <td>
                    {{bean.ny}}
                </td>
                <td>
                    {{bean.elecX}}
                </td>
                <td>
                    {{bean.elecY}}
                </td>
                <td>
                    {{bean.elecZ}}
                </td>
                <!--TODO  -->
                <td>

                </td>

                <td>
                    {{bean.data_File}}
                </td>

                <td>
                    <a :href="'admin_product_edit?id='+ bean.id"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="#nowhere" @click="deleteBean(bean.id)"><span
                            class="   glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="include/admin/adminPage::html"></div>
    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增数据</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>数据名称:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>DataType:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.dataType" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>SizeX:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.sizeX" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>SizeY:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.sizeY" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>SizeZ:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.sizeZ" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>StrainX:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.strainX" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>StrainY:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.strainY" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>NX:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.nX" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>NY:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.nY" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>ElecX:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.elecX" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>ElecY:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.elecY" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>ElecZ:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.elecZ" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>XY_Fig:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.xY_Fig" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>XZ_Fig:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.xZ_Fig" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>XYZ_Fig:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.xYZ_Fig" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>data_File:</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.data_File" type="text" class="form-control"></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere" @click="add" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="include/admin/adminFooter::html"></div>
</body>
</html>