<meta charset="UTF-8">
<div class th:fragment="html">
    <div class="searchProducts">
        <div class="productUnit" price="${p.promotePrice}" v-for="p in products" >
            <a :href="'product?pid='+p.id">
                <img class="productImage" :src="'img/product/'+p.id+'.jpg'">
            </a>
            <span class="productPrice">
                {{p.promotePrice|formatMoneyFilter}}
            </span>
            <a class="productLink" :href="'product?pid='+p.id">
                {{p.name|subStringFilter(0,50)}}
            </a>
        </div>

        <div v-if="0 == products.length" class="noMatch">没有满足条件的产品</div>

        <div style="clear:both"></div>
    </div>
</div>