<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title> </title>
    <style>
        /* 让 jumbotron 的背景高度自适应 */
        .jumbotron.bg-lightblue {
            height: auto !important;
            min-height: 300px; /* 根据需要调整最低高度 */
        }
        /* 如果整个应用容器受到高度限制，也覆盖之 */
        #app {
            height: auto !important;
        }
    </style>
</head>
<div th:include="include/fore/header::html"></div>
<body>

<!--------------------------------------NAVBAR--------------------------------------->
<nav class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" onclick="pageIndex()"><strong>Superlattice DataBase</strong></a>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link" onclick="pageGen()"> Generate Structure <span
                            class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="pageApi()">REST API Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="pageSquare()">Data Square</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->


<!--------------------------------------HEADER--------------------------------------->
<div id="app" class="container">
    <div class="jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-lightblue position-relative">
        <div class="pl-4 pr-0 tofront" style="height:auto;">
            <div class="row justify-content-between">
                <div class="col-md-6 pt-6 pb-6 align-self-center">
                    <h4 class="secondfont mb-3 font-weight-bold">Parameters for Generate initial Structure</h4>
<!--                    <form action="foreSearch" method="post">-->
                        <ol class="list-featured">
                            <li>
                                <span class="font-weight-normal text-dark">
                                    <strong> Size: </strong>
                                    <!--     sizex,sizey,sizez,nx,ny,strainx,strainy,elecx,elecy,elecz    -->
                                    <input type="text" placeholder="40" class="input-num" name="sizeX"> nm *
                                    <input type="text" placeholder="40" class="input-num" name="sizeY"> nm *
                                    <input type="text" placeholder="28.8" class="input-num" name="sizeZ"> nm
                                </span>
                            </li>
                            <li>
                                <span class="font-weight-normal text-dark">
                                    <strong> StrainX: </strong>
                                    <input type="text" placeholder="4.0" class="input-num"
                                           style="margin-right: 20px;" name="strainX">
                                    <strong> StrainY: </strong>
                                    <input type="text" placeholder="4.0" class="input-num"
                                                                       name="strainY">
                                </span>
                            </li>
                            <li>
                                <span class="font-weight-normal text-dark">
                                    <strong> NX: </strong> <input type="text" placeholder="4" class="input-num"
                                                                  style="margin-right: 20px;" name="nx">
                                    <strong> NY: </strong> <input type="text" placeholder="4" class="input-num"
                                                                  name="ny">
                                </span>
                            </li>
                            <li>
                                <span class="font-weight-normal text-dark">
                                    <strong> ElecX: </strong> <input type="text" placeholder="0" class="input-num"
                                                                     style="margin-right: 20px;" name="elecX">
                                    <strong> ElecY: </strong> <input type="text" placeholder="0" class="input-num"
                                                                     style="margin-right: 20px;" name="elecY">
                                    <strong> ElecZ: </strong> <input type="text" placeholder="0" class="input-num"
                                                                     name="elecZ">
                                </span>
                            </li>
                        </ol>

                        <button class="btn btn-dark" @click="genSearch">Generate!</button>
<!--                    </form>-->

                </div>
                <!-- 图片展示 -->
                <div v-if="0 < products.length" class="noMatch" v-for="p in products">
                    <img class="col-md-6 d-none d-md-block pr-0"
                        style="background-size:cover;"
                        :src="p.xyz_Fig">
                </div>
                <div v-if="0 == products.length" class="noMatch"> <img class="col-md-6 d-none d-md-block pr-0"
                                                                       style="background-size:cover;"
                                                                       :src="'img/product/3.jpg'"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->


<!--------------------------------------FOOTER--------------------------------------->
<div class="container mt-5">
    <footer class="bg-white border-top p-3 text-muted big">
        <div class="row align-items-center justify-content-between">
            <div>
                <span class="navbar-brand mr-2"><strong>SuperDB</strong></span> Copyright &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                . All rights reserved.
            </div>
            <div>
                Tex: xxxx E-mail: xxx
            </div>
        </div>
    </footer>
</div>
<!-- End Footer -->

<!--------------------------------------JAVASCRIPTS--------------------------------------->
<script src="assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/vendor/popper.min.js" type="text/javascript"></script>
<script src="assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/functions.js" type="text/javascript"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- 官网提供的 axios 在线地址 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    <!--    dataType,sizeX,sizeY,sizeZ,strainX,strainY,NX,NY,elecX,elecY,elecZ    -->
    $(function (){
        var dataType = getUrlParms("dataType");
        var sizeX = getUrlParms("sizeX");
        var sizeY = getUrlParms("sizeY");
        var sizeZ = getUrlParms("sizeZ");
        var strainX= getUrlParms("strainX");
        var strainY = getUrlParms("strainY");
        var nx = getUrlParms("nx");
        var ny= getUrlParms("ny");
        var elecX = getUrlParms("elecX");
        var elecY = getUrlParms("elecY");
        var elecZ = getUrlParms("elecZ");
        // var data4vue = {
        //     uri: "foreSearch",
        //     products: [],
        //     id: 0
        // }

        //ViewModel
        var app = new Vue({
            el: "#app",
            data: {
                uri: "foreSearch",
                products: [],
                formObj: {
                    name: null,
                    dataType: null,
                    sizeX: null,
                    sizeY: null,
                    sizeZ: null,
                    strainX: null,
                    strainY: null,
                    nx: null,
                    ny: null,
                    elecX: null,
                    elecY: null,
                    elecZ: null,
                    xy_Fig: null,
                    xz_Fig: null,
                    xyz_Fig: null,
                    data_File: null
                },
            },
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.genSearch();
            },

            methods: {
                genSearch: function () {
                    // String dataType, String sizeX, String sizeY, String sizeZ, String strainX, String strainY, String NX, String NY, String elecX, String elecY, String elecZ, Pageable pageable
                    // var url = this.uri + "sizex,sizey,sizez,nx,ny,strainx,strainy,elecx,elecy,elecz" + keyword;
                    console.log(this.uri);
                    var url = this.uri + "?dataType=" + this.formObj.dataType + "&sizeX=" + this.formObj.sizeX + "&sizeY=" + this.formObj.sizeY
                        + "&sizeZ=" + this.formObj.sizeZ + "&strainX=" + this.formObj.strainX + "&strainY=" + this.formObj.strainY + "&nx="
                        + this.formObj.nx + "&ny=" + this.formObj.ny  + "&elecX=" + this.formObj.elecX + "&elecY=" + this.formObj.elecY + "&elecZ=" + this.formObj.elecZ;
                    console.log(url);
                    axios.post(url).then(function (response) {
                        app.products = response.data;
                        console.log(response.data);
                        app.$nextTick(function () {
                            linkDefaultActions();
                        })
                    });
                }
            }
        });
    })

    function pageIndex() {
        window.location.assign('home');
    }

    function pageGen() {
        window.location.assign('gen');
    }

    function pageApi() {
        window.location.assign('api');
    }

    function pageSquare() {
        window.location.assign('square');
    }
</script>
</body>
</html>